.footer {
    background-color: #000000;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 120%;
  }
  
  .column {
    flex-basis: 33.33%;
    padding: 2%;
  }
  
  .column h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .column ul li {
    margin-bottom: 5px;
  }
  
  .column ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .column p {
    margin: 0;
    line-height: 1.5;
  }
  